@media (max-width: 767px){
    header{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    }
    .header-container{
        max-width: 426px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .footer-agro{
        margin-bottom: 6px;
    }


    .video-works{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        max-width: 1412px;
        left: 0;
        transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .zip{
            overflow: hidden;
        margin-left: auto;
        margin-right: auto;


            }
        .video-nextt{
            background: #EAE8E89E    ;
        box-shadow: 0px 4px 4px rgba(36, 25, 25, 0.25);
        border-radius: 42px;
        border: none;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
          }
          .video-prew{
            background:  #EAE8E89E;
        box-shadow: 0px 4px 4px rgba(36, 25, 25, 0.25);
        border-radius: 42px;
        border: none;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
          }
          .video-nexttt{
            background: #EAE8E89E    ;
        box-shadow: 0px 4px 4px rgba(36, 25, 25, 0.25);
        border-radius: 42px;
        border: none;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
          }
          .video-preww{
            background:  #EAE8E89E;
        box-shadow: 0px 4px 4px rgba(36, 25, 25, 0.25);
        border-radius: 42px;
        border: none;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
          }
    .avangard-2{
        width: 281px;
        height: 500px;
        margin-right: 72px;
    }
    .avangard-3{
        width: 281px;
        height: 500px;
        margin-right: 72px;
    }
    .avangard-4{
        width: 281px;
        height: 500px;
        margin-right: 72px;

    }
    .avangard-1{
        width:281px;
        height: 500px;
        margin-right: 72px;
        margin-left: 72px;
    }

    .menu{
        opacity: 0;
        display: none;
    }
    .dope{
        display: inline-block;
    width: 32px;
    height: 22px;
    stroke: #2E2F42;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
    }
    .button-menu{
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        opacity: 100%;
        display: inline-block;
    }
    .liza{
        display: flex;
        gap: 80px;
        align-items: center;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
}
.number-one{
    margin-bottom: 10px;
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-text{
    opacity: 0;
    display: none;
}
.footer-title{
    opacity: 0;
    display: none;
}
.popupe{
    opacity: 0;
    display: none;
}
.avangard{
    background: rgba(234, 232, 232, 0.62);
border-radius: 42px;
border: none;
margin-left: auto;
margin-right: auto;
max-width: 425px;
padding-top: 30px;
padding-bottom: 30px;
    opacity: 100;
    display: block;

}
.modal{
    top: 50%;

}
.menu-container {
    position: fixed;

    height: 100%;
    top: 0;
    left: 105px;
padding-left: 40px;
padding-bottom: 40px;
padding-top: 100px;
padding-right: 40px;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);    
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    opacity: 100%;
    display: block;
    width: 100%;

  }
  .menu-container.is-open {
    transform: translateX(0);
    left: 0px;
  }
  .menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    color: #FFFFFF;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color: #FFFFFF;
 
  }
  .hrest{
    position: absolute;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: black;
  }
  .hrest:hover{
    fill: #16A0CC;
}
.hrest:focus{
    fill: #16A0CC;
}
.social-media{
    display: flex;
    align-items: center;
    margin-top: 65px;
    gap: 30px;
}
.footer-span1{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 23px;
line-height: 1.2;
display: flex;
align-items: center;
text-align: center;
color: #16A0CC;

}
.footer-span1:focus{
font-weight: 700;
font-size: 28px;
color: #0770e9;
}
.footer-span1:hover{
font-weight: 700;
font-size: 28px;
color: #0770e9;
}
.footer-gmail1:focus{
font-weight: 700;
font-size: 28px;
}
.footer-gmail1:hover{
font-weight: 700;
font-size: 28px;
}
.header-menu1:hover{
    color: #0770e9;
    font-weight: 700;
}
.header-menu1:focus{
    color: #0770e9;
    font-weight: 700;
}
.header-menu1{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 1.2;
display: flex;
align-items: center;
text-align: center;
color: #16A0CC;
position: relative;
text-decoration-line: none;
}
.menu1{
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
}
.footer-gmail1{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 23px;
line-height: 1.2;
display: flex;
align-items: center;
text-align: center;
color: rgba(0, 0, 0, 0.78);
text-decoration-line: none;

}
.vector1{
    fill: #FFFFFF;
}
.insta1{
display: flex;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
border-radius: 50%;
border: none;
background-color: #16A0CC;
}
.facebook1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #16A0CC;

}
.facebook1:hover{
    background-color: #0770e9;
}
.facebook1:focus{
    background-color: #0770e9;
}
.insta1:hover{
    background-color: #0770e9;
}
.insta1:focus{
    background-color: #0770e9;
}
.number{
    margin-top: 10px;
}
.title-work{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.2;
margin-bottom: 40px;
text-align: center;
color: #32822D;

}
}
@media (max-width: 425px){
.avangard-1{
    margin-left: 18px;
    margin-right: 15px;
}
.avangard-2{
    margin-left: 15px;
    margin-right: 15px;
}
.avangard-3{
    margin-left: 15px;
    margin-right: 15px;
}
.avangard-4{
    margin-left: 32px;
    margin-right: 0px;
}
.knopkuu{
    opacity: 0;
    display: none;
}
.knopkuuu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    gap: 5px;
    opacity: 100%;

  }
  .closer{
    right: 9px;
    top: 9px;
  }
  .modal{
    width: 320px;
    height: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .forma__tutor{
    font-size: 15px;
    margin-top: 35px;
    margin-bottom: 28px;
  }
  .forma__hp12{
    width: 280px;
    height: 30px;
  }
  .forma__len{
    width: 280px;
    height: 30px;
  }

.forma__macb {
    width: 280px;
    height: 30px;
}
.forma__blb{
    width: 280px;
    height: 30px;
}
}
@media (max-width: 510px){
    
    .menu-text1{
        transform: translateX(110%);
        width: auto;
        height: auto;
        position: absolute;
        display: none;
        opacity: 0;
    }
    .poslygu{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

    }
    .menu-text:hover{
        transform: translateX(-110%);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .menu-text:hover + .menu-text1{
        transform: translateX(0%);
        display:block;
        opacity:100%;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .menu-text1:hover+ .menu-text{
        transform: translateX(-110%);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .menu-text{
        width: auto;
        height: auto;
        left: 50%;
        top: 50%;
    }
    
}